<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${Teacher.tno}"></title>
</head>
<body>
<table width="600" border="1" cellspacing="0">
    <tr>
        <th>教师编号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>生日</th>
        <th>职称</th>
        <th>所属部门</th>
    </tr>
    <tr>
        <td th:text="${Teacher.tno}"></td>
        <td th:text="${Teacher.tname}"></td>
        <td th:text="${Teacher.tsex}"></td>
        <td th:text="${Teacher.tbirthday}"></td>
        <td th:text="${Teacher.prof}"></td>
        <td th:text="${Teacher.depart}"></td>
    </tr>
</table>
</body>
</html>